{% extends "header.html" %}
{% block content %}
<div class="container p-5 my-5 bg-light text-muted">
<h2>Book a desk</h2>
<b>something goes wrong!
<div class="container p-5 my-5 border"> 
   
    {% with messages = get_flashed_messages() %}
{% if messages %}
        <div class="notification is-danger">
            {{ messages[0] }}
        </div>
        <br><br>
        <div class="btn-group btn-group-lg">
            
            <a href="/login" class="btn btn-outline-success" role="button">login</a>         
        </div>

{% endif %}
{% endwith %}
{% endblock %}

