{% extends "header.html" %}
{% block content %}
<div class="container p-5 my-5 bg-light text-muted">
<h2>Book a desk</h2>
<b>BOOKINGS</b>
<br><br>
<div class="btn-group btn-group-lg">
    <a href="/logout"" class="btn btn-outline-dark" role="button">logout</a>  
    <a href="/dashboard" class="btn btn-outline-success" role="button">home</a>         
    <a href="/showusers" class="btn btn-outline-success" role="button">users</a>
</div>

<div class="container p-5 my-5 border"> 

<table class="table table-light table-hover">
    <thead>
      <tr>
        <th>booking date</th>
        <th>booking until</th>
        <th>status</th>
        <th>booking code</th>
        <th>desk</th>
        <th>remove</th>

      </tr>
    </thead>
    <tbody>
        <tr>
{% for all in allbooking %}

   <td>{{ all.booking_date }}</td>
   <td>{{ all.validto }}</td>
   <td>{{ all.booked }}</td>
   <td>{{ all.bookingcode }}</td>
   <td>{{ all.desk }}</td>
   <td>
    <a href="/deleteqr_get?booking_code={{ all.bookingcode  }}">remove</a>
   </td>
</tr>
{% endfor %}
</tbody>
</table>
</div>
{% endblock %}


