{% extends "header.html" %}
{% block content %}
<div class="container p-5 my-5 bg-light text-muted">
<h2>Book a desk</h2>
<b>{{ username }}</b>, you allready booked the desk below!
<br><br>
<div class="btn-group btn-group-lg">
    <a href="/logout"" class="btn btn-outline-dark" role="button">logout</a>         
    <a href="/remove" class="btn btn-outline-success" role="button">remove</a>
    <a href="/showbookings" class="btn btn-outline-success" role="button">bookings</a>
</div>
<div class="container p-5 my-5 border"> 
    <h4>details</h4> 
    {% for mybook in my_booking %}     
                  <b>booking date: </b>{{ mybook.booking_date }}<br>
                  <b>booked until: </b>{{ mybook.validto }}<br>
                  <b>status: </b>{{ mybook.booked }}<br>
                  <b>booking code: </b>{{ mybook.bookingcode }}<br>
                  <b>desk: </b>{{ mybook.desk }}<br><br>
            {% endfor %}
{% endblock %}