{% extends "header.html" %}
{% block content %}
<div class="container p-5 my-5 bg-light text-muted">
<h2>Welcome to booksy - easy desk booking</h2>
<b>HOME</b>, currently <b>{{ xcount }}</b> desks are free...
<br><br>
<div class="btn-group btn-group-lg">
    <a href="/login" class="btn btn-outline-success" role="button">login</a>
    <a href="/register" class="btn btn-outline-success" role="button">new account</a>
    </div>
<div class="container p-5 my-5 border"> 
            <div class="row">
                <div class="col-sm-3">
                    <div class="card" style="width:200px"><img class="card-img-top" src="../static/de111.png" alt="de111" style="width:100%">DE111</div>
                </div>
                <div class="col-sm-3">
                    <div class="card" style="width:200px"><img class="card-img-top" src="../static/de112.png" alt="de112" style="width:100%">DE112</div>
                </div>
                <div class="col-sm-3">
                    <div class="card" style="width:200px"><img class="card-img-top" src="../static/de113.png" alt="de113" style="width:100%">DE113</div>
                </div>
                <div class="col-sm-3">
                    <div class="card" style="width:200px"><img class="card-img-top" src="../static/de114.png" alt="de114" style="width:100%">DE114</div>
                </div>
             </div>
{% endblock %}