{% extends "header.html" %}
{% block content %}
<div class="container p-5 my-5 bg-light text-muted">
<h2>Book a desk</h2>
<b>your desk was booked!</b>
<div class="container p-5 my-5 border"> 
   

        <div class="btn-group btn-group-lg">
            
            <a href="/login" class="btn btn-outline-success" role="button">login</a>         
        </div>

{% endblock %}
