{% extends "header.html" %}
{% block content %}
<div class="container p-5 my-5 bg-light text-muted">
<h2>login to my booksy</h2>
<b>LOGIN</b>, currently <b>{{ xcount }}</b> desks are free...
{% with messages = get_flashed_messages() %}
{% if messages %}
        <div class="notification is-danger">
            {{ messages[0] }}
        </div>
{% endif %}
{% endwith %}
<br><br>
<div class="btn-group btn-group-lg">
  <a href="/" class="btn btn-outline-dark" role="button">home</a>
  <a href="/register" class="btn btn-outline-success" role="button">new account</a>
  </div>
<div class="container p-5 my-5 border"> 
<form class="row g-3" action = "{{ request.path }}" method = "post">
    <div class="col-md-4">
      <div class="form-floating mb-3 mt-3">
        <input type="text" class="form-control" id="email" placeholder="Enter email" name="email" required>
        <label for="email">Email</label>
      </div>
    </div>
    <div class="col-md-4">
        <div class="form-floating mb-3 mt-3">
            <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pwd" required>
            <label for="password">Password</label>
            </div>
          </div>
    <div class="col-md-4">
    <div class="form-floating mb-4 mt-4">
      <button class="btn btn-outline-success" value=submit type="submit">login</button>
    </div>
    </div>
  </form> 
  </div>
</div>
  {% endblock %}


</body>
</html>