<!DOCTYPE html>
<html lang = "en">
   <head></head>
   <body>
      
      <table>
         <thead>
            <tr>
               <th>Name</th>
               <th>City</th>
               <th>Address</th>
               <th>Pin</th>
            </tr>
         </thead>
         
         <tbody>
               <tr>
                  <td>{{ xquery0 }}</td>
                  <td>{{ xquery1 }}</td>

               </tr>
         </tbody>
      </table>
      
   </body>
</html>