{% extends "header.html" %}
{% block content %}
<div class="container p-5 my-5 bg-light text-muted">
<h2>Book a Desk</h2>
<b>HOME</b>, welcome {{ username }}, currently <b>{{ xcount }}</b> desks are free...
{% with messages = get_flashed_messages() %}
{% if messages %}
        <div class="notification is-danger">
            {{ messages[0] }}
        </div>
{% endif %}
{% endwith %}
<br><br>
<div class="btn-group btn-group-lg">
  <a href="/" class="btn btn-outline-dark" role="button">logout</a>
  <a href="/showbookings" class="btn btn-outline-success" role="button">bookings</a>
  <a href="/showusers" class="btn btn-outline-success" role="button">users</a>
  </div>
<div class="container p-5 my-5 border"> 
  <form method="POST">
      <label>choose your desk: </label>
      <select id="desk" name="desk" class="form-select" value="{{ request.form['desk'] }}">
      {% for desk in desknr %}
          <option value="{{ desk['desk'] }}">{{ desk['desk'] }}</option>
      {% endfor %}
      </select>
      <br>
      <div class="form-check">
          <input type="radio" class="form-check-input" id="validto" name="validto" value="1" checked> full day (8h)
        </div>
        <div class="form-check">
          <input type="radio" class="form-check-input" id="validto" name="validto" value="5"> half day (4h)
        </div><br> 
      <p><input type="submit" class="btn btn-outline-success" value="book me"></p>
  </form>   
</div>  
{% endblock %}

