{% extends "header.html" %}
{% block content %}

<div class="container p-5 my-5 bg-light text-muted">

    <h2>Book a Desk, remove booking</h2>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="notification is-danger">
            {{ messages[0] }}
        </div>
    {% endif %}
    {% endwith %}

<form class="row g-3" action = "{{ request.path }}" method = "post">
    <div class="col-md-4">
      <div class="form-floating mb-3 mt-3">
        <input type="text" class="form-control" id="qr" placeholder="QR code" name="qr" required>
        <label for="booking code">booking code</label>
      </div>
    </div>
    <div class="col-md-4">
    <div class="form-floating mb-4 mt-4">
      <button class="btn btn-outline-success" value=submit type="submit">remove booking</button>
    </div>
    </div>
  </form>

  <div class="btn-group btn-group-lg">
           
   
  
  </div>
  
</div>

  {% endblock %}


</body>
</html>