{% extends "header.html" %}
{% block content %}

<div class="container p-5 my-5 bg-light text-muted">

<h2>Book a Desk</h2>
<b>QR booking</b>

<div class="container p-5 my-5 border"> 
   
  {% with messages = get_flashed_messages() %}
{% if messages %}
<b>something goes wrong!</b>
      <div class="notification is-danger">
          {{ messages[0] }}
      </div>
      {% endif %}
      {% endwith %}
<div class="container p-5 my-5 border"> 
    <b>Desk:</b> {{ deskme }}
    <br><br>
    <form method="POST">
        <div class="form-check">
            <input type="radio" class="form-check-input" id="validto" name="validto" value="1" checked> full day (8h)
          </div>
          <div class="form-check">
            <input type="radio" class="form-check-input" id="validto" name="validto" value="5"> half day (4h)
          </div>
          <br>
          <label>e-mail address: <b style="color:red"> {{ x_error }}</b></label>
        <input name="email" value="{{  request.form['email'] }}" class="form-control">  
        <br>    
        <p><input type="submit" class="btn btn-outline-success" value="short booking"></p>
    </form>   
</div>

<div class="btn-group btn-group-lg">
           
    <a href="/"" class="btn btn-outline-dark" role="button">back</a>
    <a href="/login" class="btn btn-outline-success" role="button">login</a>
  
  </div>


  {% endblock %}