{% extends "header.html" %}
{% block content %}
<div class="container p-5 my-5 bg-light text-muted">
<h2>Book a desk</h2>
<b>USERS</b>
<br><br>
<div class="btn-group btn-group-lg">       
          
    <a href="/logout"" class="btn btn-outline-dark" role="button">logout</a>   
    <a href="/dashboard" class="btn btn-outline-success" role="button">home</a>   
    <a href="/showbookings" class="btn btn-outline-success" role="button">bookings</a>
</div>

<div class="container p-5 my-5 border"> 

<table class="table table-light table-hover">
    <thead>
      <tr>
        <th>id</th>
        <th>name</th>
        <th>email</th>
        <th>register date</th>
        <th>register time</th>
        <th>remove</th>
      </tr>
    </thead>
    <tbody>
        <tr>
{% for all in my_users %}

   <td>{{ all.id }}</td>
   <td>{{ all.fname }} {{ all.lname }}</td>
   <td>{{ all.email }}</td>
   <td>{{ all.xdate }}</td>
   <td>{{ all.xtime }}</td>
   <td>
    <a href="/deleteuser?register_code={{ all.xcode  }}">remove</a>
   </td>
</tr>
{% endfor %}
</tbody>
</table>
</div>
{% endblock %}